.abonnez{

    height:120px;
   background-color:#f6b60e;
    display:flex;
    align-items:center;
    justify-content:center;
    border-top:solid 1px 
 
}

.abonnezInput{
    width:400px;
    height: 34px;
   
}

