.announce{
    display:flex;
    padding: 0;
    background-color:#0C2340;
    height: 50px;
    width: 100%;

}


.main{
    font-size: 25px;
    font-family: initial;
    display: flex;
    
    position: absolute;
    left: 25%;


}

.buy{
    width: 130px;
    position: absolute;
    left: 68%;
    margin-top: 4px;

}

.icos{
    height:40px;
    margin-top: 4PX;
    transform: skewY(-18deg);
}