.prduitit{
    display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 10px;
  height: 580px;
  width: 330px;
  background-color: white;
}
.product__rating {
    display: flex;
    margin-left: 10px;
  
  }
  

 .product__info{
    margin:2px
 }
  


.img_product{
    width:100%;
    display: inline-block;
  
    cursor:pointer;
}


.favoris_price{
    display: flex;

}

.aime{
    margin-left: 6rem;
    opacity: 0.5;
    cursor: pointer;

}

.aime:hover{
    scale:1.1;
    opacity: 1

}

#panier{
    background-color: white;
    padding-left: 20px;
    width: 180px;
    position:absolute;
    margin-top: 320px;
    cursor: pointer;
    opacity: 0
    
  
   
   
}



.prduitit:hover  #panier{
    opacity: 1
}


